@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")

    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="siteContainer">
        <div id="cssmenu">
        </div>

        @RenderBody()

    </div>
    <script>
        $(document).ready(function () {
            $("#cssmenu").horizontalMenu({
                datasource: [
                    {
                        id: 1,
                        uri: "#",
                        displayName: "Create Article",
                        children: [
                            {
                                menus: {
                                    id: 2,
                                    uri: "#",
                                    displayName: "Overview",
                                    children: [
                                        {
                                            menus: {
                                                id: 3,
                                                uri: "#",
                                                displayName: "Overview 2"
                                            }
                                        },
                                        {
                                            menus: {
                                                id:4 ,
                                                uri: "#",
                                                displayName: "Overview 3"
                                            }
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    {
                        id: 1,
                        uri: "#",
                        displayName: "Create Menus"
                    },
                    {
                        id: 1,
                        uri: "#",
                        displayName: "Create Menussdsd"
                    }
                ]
            });
        });
    </script>
</body>
</html>
